@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Zarządzaj Rolami Użytkowników";
}

<h1>Zarządzaj Rolami Użytkowników</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa użytkownika</th>
            <th>Email</th>
            <th>Rola</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td> <!-- Wyświetla nazwę użytkownika -->
                <td>@user.Email</td> <!-- Wyświetla adres e-mail użytkownika -->
                <td>
                    @if (await UserManager.IsInRoleAsync(user, "Administrator"))
                    {
                        <!-- Jeśli użytkownik jest administratorem, wyświetla badge "Administrator" -->
                        <span class="badge badge-success" style="color:black;">Administrator</span>
                    }
                    else
                    {
                        <!-- Jeśli użytkownik nie jest administratorem, wyświetla badge "Użytkownik" -->
                        <span class="badge badge-secondary" style="color:black;">Użytkownik</span>
                    }
                </td>
                <td>
                    @if (await UserManager.IsInRoleAsync(user, "Administrator"))
                    {
                        <!-- Formularz do usunięcia użytkownika z roli administratora -->
                        <form asp-action="RemoveFromAdminRole" asp-controller="Admin">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-danger">Usuń z Roli Administratora</button>
                        </form>
                    }
                    else
                    {
                        <!-- Formularz do dodania użytkownika do roli administratora -->
                        <form asp-action="AddToAdminRole" asp-controller="Admin">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" class="btn btn-success">Dodaj do Roli Administratora</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
