@model PZ_Projekt.Models.Order

@{
    ViewData["Title"] = "Składanie zamówienia";
}

<h1>Podsumowanie zamówienia</h1>

<form asp-action="Checkout" method="post">
    <input type="hidden" asp-for="Status" />

    <div class="form-group">
        <label asp-for="DeliveryMethod">Metoda dostawy:</label>
        <select asp-for="DeliveryMethod" class="form-control">
            <option value="Pickup">Odbiór w sklepie</option>
            <option value="Courier">Kurier za pobraniem</option>
        </select>
        <span asp-validation-for="DeliveryMethod" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address">Adres dostawy:</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Złóż zamówienie</button>
</form>
